*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup {
    background-image: url('/images/tanbackground.jpg');
    width: 75%;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 15px;
    font-family: 'Playfair Display', 'Georgia', 'Times', serif;
    display: none;
    z-index: 10000000;
    color: #3a2502;
}

.popup h1 {
    text-shadow: 0.75px 0.75px #ffffff;
}

#letsGo {
    font-family: 'Playfair Display', 'Georgia', 'Times', serif;
    color: azure;
}

#close {
    color: white;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 16px 0;
}

